body {
    margin: 0px !important;
    padding: 0px !important;

    .banner {
        padding: 15px;
        height: 500px;
        background: url(./banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .about-sign-in {
            height: 79px;
            width: 100%;
            text-align: right;
            text-decoration: none;

            .sign-in,
            .about {
                display: inline-block;
                margin-top: 20px;
                text-decoration: none;
                text-transform: uppercase;

            }

            .sign-in {
                text-decoration: none;
                margin-right: 60px;
                margin-left: 25px;
                border: 3px solid greenyellow;
                border-radius: 20px;
                padding: 7px 15px;
            }

        }

        .logo {
            background: url(./hapoERP.png);
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 70px;
            height: 100px;

        }

        .content-center {
            display: flex;

            .left,
            .center,
            .right {
                display: inline-block;
                width: 33%;
                text-align: center;

                img {
                    width: 35px;
                }

                span {
                    display: block;
                    font-size: 20px;
                }

            }

        }

        .text {
            text-align: center;
            margin-top: 20px;
        }

        .btn-start-now {
            text-align: center;
            margin-top: 10px;

            button {
                text-align: center;
                text-transform: uppercase;
                border: 3px solid greenyellow;
                border-radius: 20px;
                padding: 10px 15px;
            }

        }

    }
}